---
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";
import { Footer } from "../components/Footer.tsx";
import { Container } from "../components/Container.tsx";

const { title, description, isHomePage = false } = Astro.props;
---
<!doctype html>
<html class="h-full antialiased" lang="en">
<head>
  <BaseHead title={ title } description={ description }/>

  <style is:global>
      .closeButton {
          display: none;
      }
  </style>

  <style>
      .closeButton {
          display: none;
      }
  </style>
</head>

<body class="flex min-h-full bg-slate-50 dark:bg-black">
<main class="flex w-full">
  <div class="fixed inset-0 flex justify-center sm:px-8">
    <div class="flex w-full max-w-7xl lg:px-8">
      <div class="w-full bg-white ring-1 ring-slate-100 dark:bg-slate-900 dark:ring-slate-300/20"/>
    </div>
  </div>
  <div class="relative flex w-full flex-col">
    <Header isHomePage={ isHomePage }/>
    <main class="flex-auto">
      <slot/>
    </main>
    <Container>
      <Footer/>
    </Container>
  </div>
</main>
</body>
<script type='text/javascript'>
  function initEmbeddedMessaging() {
    try {
      embeddedservice_bootstrap.settings.language = 'en_US'; // For example, enter 'en' or 'en-US'

      embeddedservice_bootstrap.init(
        '00DWC000002CRRV',
        'Messaging_For_In_App_Rad_1',
        'https://wheretherebedragons--testville.sandbox.my.site.com/ESWMessagingForInAppR1759343674368',
        {
          scrt2URL: 'https://wheretherebedragons--testville.sandbox.my.salesforce-scrt.com'
        }
      );

      window.addEventListener("onEmbeddedMessagingButtonCreated", (event) => console.log("Embedded Messaging Button Created: ", event));
      window.addEventListener("onEmbeddedMessagingButtonCreated", (event) => console.log("Embedded Messaging Button Created: ", event));
      window.addEventListener("onEmbeddedMessagingWindowClosed", (event) => console.log("Embedded Messaging Window Closed: ", event));
      window.addEventListener("onEmbeddedMessagingWindowMinimized", (event) => console.log("Embedded Messaging Window Minimzed: ", event));
      window.addEventListener("onEmbeddedMessagingWindowMaximized", (event) => console.log("Embedded Messaging Window Max: ", event));
    } catch (err) {
      console.error('Error loading Embedded Messaging: ', err);
    }
  }
</script>
<script type='text/javascript' src='https://wheretherebedragons--testville.sandbox.my.site.com/ESWMessagingForInAppR1759343674368/assets/js/bootstrap.min.js' onload='initEmbeddedMessaging()'></script>

<script is:inline>
  // document.addEventListener("astro:page-load", () => {
  //   // if (initEmbeddedMessaging) {
  //   //   console.log('Re-initializing Embedded Messaging on page load');
  //   //   initEmbeddedMessaging();
  //   // }
  //   // if (embeddedservice_bootstrap) {
  //   //   console.log('Re-initializing Embedded Messaging on page load');
  //   //   embeddedservice_bootstrap.utilAPI.showChatButton();
  //   // } else {
  //   //   console.log('embeddedservice_bootstrap is not defined');
  //   // }
  // });
</script>

<!--<script>-->
<!--  // Check if we're on a page that needs the chat widget-->
<!--  if (typeof window !== 'undefined') {-->
<!--    // List of paths where chat should work-->
<!--    const chatPaths = ['/name-of-page', '/another-page', '/yet-another-page'];-->
<!--    const currentPath = window.location.pathname;-->

<!--    document.addEventListener('astro:before-preparation', (event) => {-->
<!--      console.log('navigating away from', currentPath);-->
<!--      console.log('navigating to', event.to.pathname);-->

<!--      const targetUrl = new URL(event.to);-->
<!--      const isNavigatingToChatPage = chatPaths.some(path =>-->
<!--        targetUrl.pathname.startsWith(path)-->
<!--      );-->

<!--      // If moving between chat and non-chat pages, do full reload-->
<!--      if (isNavigatingToChatPage) {-->
<!--        event.preventDefault();-->
<!--        window.location.href = event.to.href;-->
<!--      }-->
<!--    });-->
<!--  }-->
<!--</script>-->

</html>
